body {
    font-family: Arial, sans-serif;
}

.elemento {
    background-image: url(20.11.20_destaque-blog-espro_por-que-o-dia-da-consciencia-negra-e-importante.jpg);
    background-size: cover;
    background-position: 50% 50%;
}



header {
    background-color: #000;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
}
